* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}
@font-face {
    font-family: 'century gothic';
    src: url('./fonts/century-gothic-bold.ttf') format(truetype-aat);
}

body {
    font-family: 'century gothic' ;
    background-color: #696969;
}

h1 {
    font-size: 16px;
}

p {
    font-style: italic;
    font-size: .8rem;
    color: #aaa;
    /* height: auto; */
    text-align: center;
    text-align: center;
}

.container {
    position: relative;
    background-color: #262a33;
    width: 410px;
    height: 210px;
    padding: 5px;
    border-radius: 10px;
    /* margin: auto; */
    left: 658px;
}

.main-content {
    display: flex;
    align-items: center;
    height: 85px;
    padding-bottom: 5px;
    border-bottom: solid 0.5px hsl(0, 0%, 100%, 10%);
}

.profile-picture {
    border: 3px solid #747F8D;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    position: relative;
    left: 2%;
}

.name {
    margin-left: 20px;
}

.id {
    color: #ccc;
    font-weight: lighter;
}

.house {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}

.description {
    width: 400px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-style: italic;
    font-weight: lighter;
}